
#grad {
  	position: absolute;
    top: 55px; /* Header Height */
    bottom: 10px; /* Footer Height */
    width: 100%;
    z-index: 2;

}

#bg-image {
  background: linear-gradient(
      #C1C8E4B3, 
      #84CEEBB3
    ), url("/elders.jpg");
  /* Add the blur effect */
  filter: blur(24px);
  -webkit-filter: blur(24px);

  /* Full height */
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  z-index: -1;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}

#slogan{
	padding: 100px;
	font-family: Arial, Helvetica, sans-serif;
}

#slogan > h1 {
	color: #404040;
	font-weight: bolder;
	font-size: 36pt;
}

#mainpic{
  margin-top:80px;
  width: 600px;
  height: 400px;
  border-radius: 5em;
}

form {
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#enterzip {
  color: #404040;
  font-size: 18pt;
  font-weight:bolder;
}

#zip {
  width: 76%;
  color: black;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 1px;
  background:whitesmoke;
  padding: 10px 20px;
  border-radius: .5em;
  outline: none;
  box-sizing: border-box;
  border: 2px solid #C1C8E4;
  margin-bottom: 10px;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}
       
#zip:focus {
   border: 5px solid #5AB9EA !important;
}

#submitbutton {
  cursor: pointer;
  font-weight: bolder;
  border-radius: 0.5em;
  color: whitesmoke;
  background: linear-gradient(to bottom, #8860D0, #C1C8E4);
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}