.top{
	padding: 20px;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
}

#logo{
	padding: 7px;
}

#slogan{
	padding: 100px;
	font-family: Arial, Helvetica, sans-serif;
}

#elderly{
	padding: 40px;
	width: 600px;
	height: 400px;
}

#grad {
  background-image: linear-gradient(to bottom, rgb(95, 123, 188), rgb(92, 184, 232), rgb(193,200,227));
  position: absolute;
    top: 55px; /* Header Height */
    bottom: 10px; /* Footer Height */
    width: 100%;
}