
#grad {
  	position: absolute;
    top: 55px; /* Header Height */
    bottom: 10px; /* Footer Height */
    width: 100%;
    z-index: 2;
}

#bg-image {
  /* The image used */
  background-image: url("/elders.jpg");
  /* Add the blur effect */
  filter: blur(24px);
  -webkit-filter: blur(24px);

  /* Full height */
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  z-index: -1;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}

#slogan{
	padding: 100px;
	font-family: Arial, Helvetica, sans-serif;
}

#slogan > h1 {
	color: black;
	font-weight: bolder;
	font-size: 36pt;
}

#mainpic{
  padding: 40px;
  width: 600px;
  height: 400px;
}